#output { background: white; border-radius: 10px; border-top: 10px solid #AA4465; padding: 10px; float: none; text-align: left; }
body{
    margin-left :20px;
    background-color: rgb(58, 250, 122); 
}
#player1_name , #player2_name { display: inline-block; margin-left: 20px; }

